* {
    box-sizing: border-box;
  }

body{
    width: 100%;
}
header{

    display: flex;
    justify-content: center;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: row;
    /*background-image: linear-gradient()*/
}

#logo {  
    max-width: 700px;
    height: auto;
    margin-top: 0px;
}
#rowType{

    display: flex;
    justify-content: center;

}

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/*
.searchBar{

    width: 230px;
    height: 25px;
    margin-top: 1%;
    border-radius: 8px;

}*/

.cards{  
    background-color: #FAFFF9;
    color: #4F6D67;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /*Sombras de las tarjetas   */
    -webkit-box-shadow: 10px 10px 25px 0px rgba(51,51,51,1);
    -moz-box-shadow: 10px 10px 25px 0px rgba(51,51,51,1);
    box-shadow: 10px 10px 25px 0px rgba(51,51,51,1);

}



.container{


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #05C877;
    
}



@media screen and (max-width:479px){
        /* Responsive columns */
    .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
    #root{
        justify-content: center;
    }

    .cards{
        /*background-image: linear-gradient();*/
        padding: 16px;
    }
    #logo{
        max-width: 400px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {

    .column{

        width: 50%;
        display: block;
        margin-bottom: 20px;
    }

}
@media only screen and (min-width: 600px) and (max-width: 799px) {

    .column{

        width: 33%;
        display: block;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1249px) {

    .column{

        width: 25%;
        display: block;
        margin-bottom: 20px;
    }
}

 nav{
    position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
 top: -3cm;


     
 }